/* CSS RESETS */
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: calc(1em + 0.5rem);
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

html, body {
  width: 100%;
  height: 100%;
}
 
/* 5. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
  font-family: inherit;
  font-size: 100%;
}

/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/* 
  10. Table reset styles 
*/

table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 
  11. Initial root and body settings 
*/

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #000;
  background-color: #fff;
  overflow: hidden;
}

:root {
    --product-library-actionable-destructive-disabled-fill: #f1b7b2;
    --product-library-actionable-destructive-disabled-tint: #f1b7b2;
    --product-library-actionable-destructive-hover-fill: #b03d32;
    --product-library-actionable-destructive-hover-tint: #b03d32;
    --product-library-actionable-destructive-idle-fill: #dc4c3e;
    --product-library-actionable-destructive-idle-tint: #dc4c3e;
    --product-library-actionable-destructive-on-disabled-tint: #fff;
    --product-library-actionable-destructive-on-hover-tint: #fff;
    --product-library-actionable-destructive-on-idle-tint: #fff;
    --product-library-actionable-focus-fill: #eee;
    --product-library-actionable-focus-tint: #dc4c3e;
    --product-library-actionable-primary-disabled-fill: #eda59e;
    --product-library-actionable-primary-hover-fill: #c3392c;
    --product-library-actionable-primary-idle-fill: #dc4c3e;
    --product-library-actionable-primary-on-dark-disabled-fill: #4c2827;
    --product-library-actionable-primary-on-dark-hover-fill: #e36564;
    --product-library-actionable-primary-on-dark-idle-fill: #dc4c3e;
    --product-library-actionable-primary-on-dark-on-disabled-tint: #797979;
    --product-library-actionable-primary-on-dark-on-hover-tint: #fff;
    --product-library-actionable-primary-on-dark-on-idle-tint: #fff;
    --product-library-actionable-primary-on-disabled-tint: #fff;
    --product-library-actionable-primary-on-hover-tint: #fff;
    --product-library-actionable-primary-on-idle-tint: #fff;
    --product-library-actionable-quaternary-disabled-tint: #b2b2b2;
    --product-library-actionable-quaternary-hover-fill: #f5f5f5;
    --product-library-actionable-quaternary-hover-tint: #1a1a1a;
    --product-library-actionable-quaternary-idle-tint: #666;
    --product-library-actionable-quaternary-selected-fill: #e6e6e6;
    --product-library-actionable-quaternary-on-dark-disabled-tint: #4d4d4d;
    --product-library-actionable-quaternary-on-dark-hover-fill: #424242;
    --product-library-actionable-quaternary-on-dark-idle-tint: #9d9d9d;
    --product-library-actionable-quaternary-on-dark-selected-fill: #575757;
    --product-library-actionable-quaternary-on-dark-on-hover-fill: #424242;
    --product-library-actionable-quaternary-on-dark-on-hover-tint: #fff;
    --product-library-actionable-quaternary-on-dark-on-selected-tint: #fff;
    --product-library-actionable-quaternary-on-hover-fill: #d3d3d3;
    --product-library-actionable-quaternary-on-hover-tint: #1a1a1a;
    --product-library-actionable-quaternary-on-selected-tint: #1a1a1a;
    --product-library-actionable-secondary-disabled-fill: #fafafa;
    --product-library-actionable-secondary-hover-fill: #e5e5e5;
    --product-library-actionable-secondary-idle-fill: #f5f5f5;
    --product-library-actionable-secondary-idle-tint: #e1e1e1;
    --product-library-actionable-secondary-on-dark-disabled-fill: #242424;
    --product-library-actionable-secondary-on-dark-hover-fill: #4d4d4d;
    --product-library-actionable-secondary-on-dark-idle-fill: #666;
    --product-library-actionable-secondary-on-dark-idle-tint: #808080;
    --product-library-actionable-secondary-on-dark-on-disabled-tint: #999;
    --product-library-actionable-secondary-on-dark-on-hover-tint: #fff;
    --product-library-actionable-secondary-on-dark-on-idle-tint: #fff;
    --product-library-actionable-secondary-on-disabled-tint: #999;
    --product-library-actionable-secondary-on-hover-tint: #1a1a1a;
    --product-library-actionable-secondary-on-idle-tint: #444;
    --product-library-actionable-tertiary-disabled-tint: #b2b2b2;
    --product-library-actionable-tertiary-hover-fill: #f5f5f5;
    --product-library-actionable-tertiary-hover-tint: #b03d32;
    --product-library-actionable-tertiary-idle-tint: #dc4c3e;
    --product-library-actionable-tertiary-on-dark-disabled-tint: #575757;
    --product-library-actionable-tertiary-on-dark-hover-fill: #3d3d3d;
    --product-library-actionable-tertiary-on-dark-hover-tint: #ff7f74;
    --product-library-actionable-tertiary-on-dark-idle-tint: #ffaaa1;
    --product-library-actionable-tertiary-on-dark-on-hover-fill: #ffaaa1;
    --product-library-actionable-tertiary-on-dark-on-hover-tint: #ffaaa1;
    --product-library-actionable-tertiary-on-hover-fill: #dc4c3e;
    --product-library-actionable-tertiary-on-hover-tint: #dc4c3e;
    --product-library-background-base-primary: #fff;
    --product-library-background-base-secondary: #fcfaf8;
    --product-library-background-base-tertiary: #f6f4f4;
    --product-library-background-grouped-primary: #fdfcfb;
    --product-library-background-grouped-secondary: #faf7f4;
    --product-library-background-grouped-tertiary: #f6f2ee;
    --product-library-background-overlay: #00000066;
    --product-library-background-raised-primary: #fff;
    --product-library-background-raised-quaternary: #282828;
    --product-library-background-raised-secondary: #fafafa;
    --product-library-background-raised-tertiary: #f5f5f5;
    --product-library-display-accent-primary-fill: #dc4c3e;
    --product-library-display-accent-primary-tint: #dc4c3e;
    --product-library-display-accent-secondary-fill: #fde7d8;
    --product-library-display-focus-fill: #eee;
    --product-library-display-primary-idle-tint: #202020;
    --product-library-display-primary-on-dark-fill: #666;
    --product-library-display-primary-on-dark-tint: #fff;
    --product-library-display-quaternary-idle-tint: #e5e5e5;
    --product-library-display-secondary-idle-tint: #666;
    --product-library-display-secondary-on-dark-tint: #b3b3b3;
    --product-library-display-tertiary-idle-tint: #999;
    --product-library-divider-primary: #eee;
    --product-library-divider-secondary: #f5f5f5;
    --product-library-divider-on-dark: #666;
    --product-library-info-attention-primary-idle-fill: #dc4c3e;
    --product-library-info-attention-primary-idle-tint: #dc4c3e;
    --product-library-info-attention-primary-on-idle-tint: #fff;
    --product-library-info-attention-secondary-idle-fill: #fbe9e7;
    --product-library-info-attention-secondary-on-idle-tint: #cf473a;
    --product-library-info-neutral-primary-idle-fill: #316fea;
    --product-library-info-neutral-primary-on-idle-tint: #fff;
    --product-library-info-neutral-secondary-idle-fill: #808080;
    --product-library-info-neutral-secondary-idle-tint: #5e5e5e;
    --product-library-info-neutral-secondary-on-idle-tint: #fff;
    --product-library-info-neutral-tertiary-focus-fill: #5e5e5e;
    --product-library-info-neutral-tertiary-idle-fill: #eee;
    --product-library-info-neutral-tertiary-on-focus-tint: #1a1a1a;
    --product-library-info-neutral-tertiary-on-idle-tint: #5e5e5e;
    --product-library-info-positive-primary-idle-fill: #058527;
    --product-library-info-positive-primary-idle-tint: #058527;
    --product-library-info-positive-primary-on-idle-tint: #fff;
    --product-library-info-positive-secondary-idle-fill: #e6f3e9;
    --product-library-info-positive-secondary-on-idle-tint: #058527;
    --product-library-info-promote-primary-idle-fill: #f48318;
    --product-library-info-promote-primary-on-idle-tint: #fff;
    --product-library-info-promote-quaternary-idle-fill: #fffaf4;
    --product-library-info-promote-quaternary-on-idle-tint: #fae8d6;
    --product-library-info-promote-secondary-idle-fill: #ffd093;
    --product-library-info-promote-tertiary-idle-fill: #faead1;
    --product-library-info-promote-tertiary-on-idle-tint: #8f4700;
    --product-library-info-warning-primary-focus-fill: #f6d9ac;
    --product-library-info-warning-primary-idle-fill: #faead1;
    --product-library-info-warning-primary-on-idle-fill: #eb8909;
    --product-library-info-warning-primary-on-idle-tint: #8f4700;
    --product-library-info-warning-primary-on-idle-fill-tint: #fff;
    --product-library-inputs-border-focus-tint: #b8b8b8;
    --product-library-inputs-border-hover-tint: #ccc;
    --product-library-inputs-border-idle-tint: #e6e6e6;
    --product-library-meta-berry-fill: #b8255f;
    --product-library-meta-berry-tint: #d43876;
    --product-library-meta-blue-fill: #2a67e2;
    --product-library-meta-blue-tint: #4180ff;
    --product-library-meta-charcoal-fill: #808080;
    --product-library-meta-charcoal-tint: #808080;
    --product-library-meta-grape-fill: #692ec2;
    --product-library-meta-grape-tint: #692ec2;
    --product-library-meta-green-fill: #369307;
    --product-library-meta-green-tint: #369307;
    --product-library-meta-grey-fill: #999;
    --product-library-meta-grey-tint: #999;
    --product-library-meta-lavender-fill: #eb96c8;
    --product-library-meta-lavender-tint: #a4698c;
    --product-library-meta-light-blue-fill: #96c3eb;
    --product-library-meta-light-blue-tint: #6988a4;
    --product-library-meta-lime-green-fill: #7ecc48;
    --product-library-meta-lime-green-tint: #65a33a;
    --product-library-meta-magenta-fill: #e05095;
    --product-library-meta-magenta-tint: #e05095;
    --product-library-meta-mint-green-fill: #52ccb8;
    --product-library-meta-mint-green-tint: #42a393;
    --product-library-meta-olive-green-fill: #aeb83a;
    --product-library-meta-olive-green-tint: #949c31;
    --product-library-meta-orange-fill: #f48318;
    --product-library-meta-orange-tint: #c77100;
    --product-library-meta-red-fill: #dc4c3e;
    --product-library-meta-red-tint: #ea584a;
    --product-library-meta-salmon-fill: #c9766f;
    --product-library-meta-salmon-tint: #ff8e84;
    --product-library-meta-sky-blue-fill: #3ab9e2;
    --product-library-meta-sky-blue-tint: #319dc0;
    --product-library-meta-taupe-fill: #ccae96;
    --product-library-meta-taupe-tint: #8f7a69;
    --product-library-meta-teal-fill: #148fad;
    --product-library-meta-teal-tint: #148fad;
    --product-library-meta-violet-fill: #ac30cc;
    --product-library-meta-violet-tint: #ca3fee;
    --product-library-meta-yellow-fill: #fecf05;
    --product-library-meta-yellow-tint: #b29104;
    --product-library-priorities-p1-primary-disabled-fill: #edb5b1;
    --product-library-priorities-p1-primary-disabled-tint: #edb5b1;
    --product-library-priorities-p1-primary-idle-fill: #d1453b;
    --product-library-priorities-p1-primary-idle-tint: #d1453b;
    --product-library-priorities-p1-primary-on-disabled-tint: #fff;
    --product-library-priorities-p1-primary-on-idle-tint: #fff;
    --product-library-priorities-p1-secondary-disabled-fill: #ffebe9;
    --product-library-priorities-p1-secondary-hover-fill: #ffc6c2;
    --product-library-priorities-p1-secondary-idle-fill: #ffd6d3;
    --product-library-priorities-p1-secondary-selected-fill: #d1453b;
    --product-library-priorities-p1-secondary-on-selected-tint: #fff;
    --product-library-priorities-p2-primary-disabled-fill: #f7d09d;
    --product-library-priorities-p2-primary-disabled-tint: #f7d09d;
    --product-library-priorities-p2-primary-idle-fill: #eb8909;
    --product-library-priorities-p2-primary-idle-tint: #eb8909;
    --product-library-priorities-p2-primary-on-disabled-tint: #fff;
    --product-library-priorities-p2-primary-on-idle-tint: #fff;
    --product-library-priorities-p2-secondary-disabled-fill: #fdf3e7;
    --product-library-priorities-p2-secondary-hover-fill: #f9dcb8;
    --product-library-priorities-p2-secondary-idle-fill: #fbe7ce;
    --product-library-priorities-p2-secondary-selected-fill: #b26500;
    --product-library-priorities-p2-secondary-on-selected-tint: #fff;
    --product-library-priorities-p3-primary-disabled-fill: #a7c5f3;
    --product-library-priorities-p3-primary-disabled-tint: #a7c5f3;
    --product-library-priorities-p3-primary-idle-fill: #246fe0;
    --product-library-priorities-p3-primary-idle-tint: #246fe0;
    --product-library-priorities-p3-primary-on-disabled-tint: #fff;
    --product-library-priorities-p3-primary-on-idle-tint: #fff;
    --product-library-priorities-p3-secondary-disabled-fill: #eef3fc;
    --product-library-priorities-p3-secondary-hover-fill: #cfdcf7;
    --product-library-priorities-p3-secondary-idle-fill: #dde6f9;
    --product-library-priorities-p3-secondary-selected-fill: #246fe0;
    --product-library-priorities-p3-secondary-on-selected-tint: #fff;
    --product-library-priorities-p4-primary-disabled-fill: #d6d6d6;
    --product-library-priorities-p4-primary-disabled-tint: #ccc;
    --product-library-priorities-p4-primary-idle-fill: #999;
    --product-library-priorities-p4-primary-idle-tint: #999;
    --product-library-priorities-p4-primary-on-disabled-tint: #fff;
    --product-library-priorities-p4-primary-on-idle-tint: #fff;
    --product-library-priorities-p4-secondary-disabled-fill: #f9f7f6;
    --product-library-priorities-p4-secondary-hover-fill: #e8e5e3;
    --product-library-priorities-p4-secondary-idle-fill: #f2efed;
    --product-library-priorities-p4-secondary-selected-fill: #7a7a7a;
    --product-library-priorities-p4-secondary-on-selected-tint: #fff;
    --product-library-schedule-next-week-fill: #692ec2;
    --product-library-schedule-next-week-tint: #692ec2;
    --product-library-schedule-no-date-fill: #b8b8b8;
    --product-library-schedule-no-date-tint: #808080;
    --product-library-schedule-overdue-fill: #ca4c3e;
    --product-library-schedule-overdue-tint: #d1453b;
    --product-library-schedule-postpone-fill: #246fe0;
    --product-library-schedule-postpone-tint: #246fe0;
    --product-library-schedule-today-fill: #4b9244;
    --product-library-schedule-today-tint: #058527;
    --product-library-schedule-tomorrow-fill: #ad6200;
    --product-library-schedule-tomorrow-tint: #ad6200;
    --product-library-schedule-weekend-fill: #246fe0;
    --product-library-schedule-weekend-tint: #246fe0;
    --product-library-selectable-background: #f5f5f5;
    --product-library-selectable-primary-disabled-tint: #e5e5e5;
    --product-library-selectable-primary-selected-fill: #dc4c3e;
    --product-library-selectable-primary-selected-tint: #dc4c3e;
    --product-library-selectable-primary-unselected-fill: #b3b3b3;
    --product-library-selectable-primary-unselected-tint: #666;
    --product-library-selectable-primary-on-dark-hover-fill: #3d3d3d;
    --product-library-selectable-primary-on-dark-selected-fill: #666;
    --product-library-selectable-primary-on-selected-fill: #fff;
    --product-library-selectable-primary-on-selected-tint: #fff;
    --product-library-selectable-primary-on-unselected-fill: #fff;
    --product-library-selectable-secondary-hover-fill: #f2efed;
    --product-library-selectable-secondary-idle-tint: #202020;
    --product-library-selectable-secondary-selected-fill: #ffefe5;
    --product-library-selectable-secondary-on-selected-fill: #dc4c3e;
    --product-library-selectable-secondary-on-selected-tint: #a81f00;
    --product-library-selectable-tertiary-selected-fill: #fff;
    --product-library-selectable-tertiary-selected-tint: #fff;
    --product-library-selectable-tertiary-on-selected-disabled-fill: #999;
    --product-library-selectable-tertiary-on-selected-disabled-tint: #999;
    --product-library-selectable-tertiary-on-selected-enabled-fill: #202020;
    --product-library-selectable-tertiary-on-selected-enabled-tint: #202020;
    --product-library-selectable-tertiary-on-unselected-disabled-fill: #c7c7c7;
    --product-library-selectable-tertiary-on-unselected-disabled-tint: #b2b2b2;
    --product-library-selectable-tertiary-on-unselected-enabled-fill: #aaa;
    --product-library-selectable-tertiary-on-unselected-enabled-tint: #666;
}

:root {
    --react-field-placeholder-tint: var(--product-library-display-tertiary-idle-tint);
    --react-bg-menu: var(--product-library-background-raised-primary);
    --react-actionable-focus-fill: var(--product-library-actionable-focus-fill);
    --react-actionable-quaternary-onHover-tint: var(
        --product-library-actionable-quaternary-on-hover-tint
    );
    --react-actionable-quaternary-onHover-fill: var(
        --product-library-actionable-quaternary-hover-fill
    );
    --react-bg-default: var(--product-library-background-base-primary);
    --react-bg-highlight: var(--product-library-actionable-quaternary-hover-fill);
    --react-bg-selected: var(--product-library-selectable-secondary-selected-fill);
    --react-bg-aside: var(--product-library-background-base-secondary);
    --react-framework-fill-summit: var(--product-library-selectable-primary-unselected-fill);
    --react-framework-fill-background: var(--product-library-background-base-secondary);
    --react-content-primary: var(--product-library-display-primary-idle-tint);
    --react-content-secondary: var(--product-library-display-secondary-idle-tint);
    --react-divider-primary: var(--product-library-divider-primary);
    --react-divider-secondary: var(--product-library-divider-secondary);
    --react-divider-tertiary: var(
        --product-library-divider-secondary
    );
    --react-inputs-idle: var(--product-library-inputs-border-idle-tint);
    --react-inputs-focus: var(--product-library-inputs-border-focus-tint);
    --react-inputs-alert: var(--product-library-info-attention-primary-idle-fill);
    --react-field-readonly-background: var(--product-library-background-base-tertiary);
    --react-actionable-primary-idle-tint: var(--product-library-actionable-primary-on-idle-tint);
    --react-actionable-primary-idle-fill: var(--product-library-actionable-primary-idle-fill);
    --react-actionable-primary-hover-tint: var(
        --product-library-actionable-primary-on-hover-tint
    );
    --react-actionable-primary-hover-fill: var(--product-library-actionable-primary-hover-fill);
    --react-actionable-primary-disabled-tint: var(
        --product-library-actionable-primary-on-disabled-tint
    );
    --react-actionable-primary-disabled-fill: var(
        --product-library-actionable-primary-disabled-fill
    );
    --react-actionable-secondary-idle-tint: var(
        --product-library-actionable-secondary-on-idle-tint
    );
    --react-actionable-secondary-idle-fill: var(
        --product-library-actionable-secondary-idle-fill
    );
    --react-actionable-secondary-hover-tint: var(
        --product-library-actionable-secondary-on-hover-tint
    );
    --react-actionable-secondary-hover-fill: var(
        --product-library-actionable-secondary-hover-fill
    );
    --react-actionable-secondary-disabled-tint: var(
        --product-library-actionable-secondary-on-disabled-tint
    );
    --react-actionable-secondary-disabled-fill: var(
        --product-library-actionable-secondary-disabled-fill
    );
    --react-actionable-tertiary-idle-tint: var(--product-library-actionable-tertiary-idle-tint);
    --react-actionable-tertiary-hover-tint: var(
        --product-library-actionable-tertiary-on-hover-tint
    );
    --react-actionable-tertiary-hover-fill: var(
        --product-library-actionable-tertiary-hover-fill
    );
    --react-actionable-tertiary-disabled-tint: var(
        --product-library-actionable-tertiary-disabled-tint
    );
    --react-actionable-quaternary-idle-tint: var(
        --product-library-actionable-quaternary-idle-tint
    );
    --react-actionable-quaternary-hover-tint: var(
        --product-library-actionable-quaternary-on-hover-tint
    );
    --react-actionable-quaternary-hover-fill: var(
        --product-library-actionable-quaternary-hover-fill
    );
    --react-actionable-quaternary-disabled-tint: var(
        --product-library-actionable-quaternary-disabled-tint
    );
    --react-actionable-primary-destructive-idle-tint: var(
        --product-library-actionable-destructive-on-idle-tint
    );
    --react-actionable-primary-destructive-idle-fill: var(
        --product-library-actionable-destructive-idle-fill
    );
    --react-actionable-primary-destructive-hover-tint: var(
        --product-library-actionable-destructive-on-hover-tint
    );
    --react-actionable-primary-destructive-hover-fill: var(
        --product-library-actionable-destructive-hover-fill
    );
    --react-actionable-primary-destructive-disabled-tint: var(
        --product-library-actionable-destructive-on-disabled-tint
    );
    --react-actionable-primary-destructive-disabled-fill: var(
        --product-library-actionable-destructive-disabled-fill
    );
    --react-actionable-secondary-destructive-idle-tint: var(
        --product-library-actionable-destructive-idle-tint
    );
    --react-actionable-secondary-destructive-idle-border-color: var(
        --product-library-actionable-destructive-idle-tint
    );
    --react-actionable-secondary-destructive-hover-tint: var(
        --product-library-actionable-destructive-hover-tint
    );
    --react-actionable-secondary-destructive-hover-border-color: var(
        --product-library-actionable-destructive-hover-tint
    );
    --react-actionable-secondary-destructive-disabled-tint: var(
        --product-library-actionable-destructive-disabled-tint
    );
    --react-actionable-secondary-destructive-disabled-border-color: var(
        --product-library-actionable-destructive-disabled-tint
    );
    --react-prose-code-tint: var(--product-library-display-primary-idle-tint);
    --react-prose-code-fill: var(--product-library-background-base-secondary);
    --react-prose-code-border: var(--product-library-divider-primary);
    --react-prose-quote-tint: var(--product-library-display-secondary-idle-tint);
    --react-prose-link-idle-tint: inherit;
    --react-prose-link-idle-underline: inherit;
    --react-prose-link-hover-tint: var(--react-text-link-hover-tint);
    --react-prose-link-hover-underline: inherit;
    --react-prose-horizontal-rule-color: var(--product-library-divider-primary);
    --react-badge-info-tint: var(--product-library-info-neutral-tertiary-on-idle-tint);
    --react-badge-info-fill: var(--product-library-info-neutral-tertiary-idle-fill);
    --react-badge-positive-tint: var(--product-library-info-positive-secondary-on-idle-tint);
    --react-badge-positive-fill: var(--product-library-info-positive-secondary-idle-fill);
    --react-badge-promote-tint: var(--product-library-info-promote-tertiary-on-idle-tint);
    --react-badge-promote-fill: var(--product-library-info-promote-tertiary-idle-fill);
    --react-badge-attention-tint: var(--product-library-info-attention-secondary-on-idle-tint);
    --react-badge-attention-fill: var(--product-library-info-attention-secondary-idle-fill);
    --react-tab-neutral-selected-fill: var(--product-library-selectable-tertiary-selected-fill);
    --react-tab-neutral-selected-tint: var(--product-library-selectable-secondary-idle-tint);
    --react-tab-neutral-unselected-tint: var(
        --product-library-selectable-tertiary-on-unselected-enabled-tint
    );
    --react-tab-neutral-hover-fill: var(--product-library-actionable-focus-fill);
    --react-tab-neutral-hover-tint: var(--product-library-selectable-secondary-idle-tint);
    --react-tab-neutral-track: var(--product-library-selectable-background);
    --react-tab-neutral-border: var(--product-library-divider-primary);
    --react-switch-checked: var(--product-library-actionable-primary-idle-fill);
    --react-switch-toggle: var(--product-library-selectable-primary-on-selected-fill);
    --react-text-link-idle-tint: var(--product-library-actionable-tertiary-idle-tint);
    --react-text-link-hover-tint: var(--product-library-actionable-tertiary-hover-tint);
    --react-text-link-hover-decoration: underline;
    --react-bg-toast: var(--product-library-background-raised-quaternary);
    --react-toast-content-primary: var(--product-library-display-primary-on-dark-tint);
    --react-toast-actionable-primary-tint: var(
        --product-library-actionable-tertiary-on-dark-idle-tint
    );
    --react-toast-actionable-secondary-tint: hsla(0,0%,100%,.56);
    --react-toast-actionable-hover-fill: #3d3d3d;
    --react-toast-box-shadow: rgba(0,0,0,.19) 0px 10px 20px,rgba(0,0,0,.23) 0px 6px 6px;
    --react-banner-background-color: var(--product-library-background-base-secondary);
    --react-banner-border-color: var(--product-library-inputs-border-idle-tint);
    --react-banner-main-copy-color: var(--product-library-display-primary-idle-tint);
    --react-banner-secondary-copy-color: var(--product-library-display-secondary-idle-tint);
    --react-banner-info-icon-color: var(--product-library-info-neutral-primary-idle-fill);
    --react-banner-upgrade-icon-color: var(--product-library-info-promote-primary-idle-fill);
    --react-banner-experiment-icon-color: var(--product-library-info-promote-primary-idle-fill);
    --react-banner-warning-icon-color: var(--product-library-info-warning-primary-on-idle-fill);
    --react-banner-error-icon-color: var(--product-library-info-attention-primary-idle-fill);
    --react-banner-success-icon-color: var(--product-library-info-positive-primary-idle-fill);
    --react-alert-tone-info-icon: var(--product-library-info-neutral-primary-idle-fill);
    --react-alert-tone-info-border: var(--product-library-divider-primary);
    --react-alert-tone-info-background: var(--product-library-background-base-secondary);
    --react-alert-tone-positive-icon: var(--product-library-info-positive-primary-idle-fill);
    --react-alert-tone-positive-border: var(--product-library-divider-primary);
    --react-alert-tone-positive-background: var(--product-library-background-base-secondary);
    --react-alert-tone-caution-icon: var(--product-library-info-warning-primary-on-idle-fill);
    --react-alert-tone-caution-border: var(--product-library-divider-primary);
    --react-alert-tone-caution-background: var(--product-library-background-base-secondary);
    --react-alert-tone-critical-icon: var(--product-library-info-attention-primary-idle-fill);
    --react-alert-tone-critical-border: var(--product-library-divider-primary);
    --react-alert-tone-critical-background: var(--product-library-background-base-secondary);
    --react-spinner-tint: var(--product-library-display-accent-primary-fill);
    --react-spinner-fill: var(--product-library-display-accent-secondary-fill);
}

:root {
  --background-base-secondary: #fcfaf8;
  --background-base-primary: #fff;
  --selectable-secondary-hover-fill: #f2efed;
  --content-primary: #202020;
  --react-font-size-body: 14px;
  --react-spacing-xsmall: 4px;
  --react-spacing-small: 8px;
  --react-spacing-medium: 12px;
  --react-spacing-large: 16px;
  --react-spacing-xlarge: 24px;
  --react-spacing-xxlarge: 32px;
  --react-button-normal-height: 32px;
  --react-button-normal-spacing: 12px;
  --react-button-normal-font-size: 13px;
  --react-btn-idle-fill: transparent;
  --react-btn-idle-tint: #666;
  --sidebar-display-primary-idle-tint: #202020;
  --sidebar-selectable-secondary-selected-fill: #ffefe5;
  --react-button-small-height: 28px;
  --react-button-small-spacing: 8px;
  --react-button-small-font-size: 12px;
  --named-color-charcoal: #808080;
  --editor-top-padding: 48px;
  --editor-side-padding: 55px;
  --editor-max-width: 800px;
}

:root {
    --react-breakpoint-tablet: 768px;
    --react-breakpoint-desktop: 992px;
    --react-spacing-xsmall: 4px;
    --react-spacing-small: 8px;
    --react-spacing-medium: 12px;
    --react-spacing-large: 16px;
    --react-spacing-xlarge: 24px;
    --react-spacing-xxlarge: 32px;
    --react-width-xsmall: 220px;
    --react-width-small: 400px;
    --react-width-medium: 660px;
    --react-width-large: 940px;
    --react-width-xlarge: 1280px;
    --react-font-family: -apple-system,system-ui,"Segoe UI",Roboto,Noto,Oxygen-Sans,Ubuntu,Cantrell,"Helvetica Neue",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    --react-font-family-monospace: ui-monospace,SFMono-Regular,"SF Mono",Menlo,Monaco,"Cascadia Mono",Consolas,"Liberation Mono","Courier New",monospace;
    --react-font-size-caption: 12px;
    --react-font-size-copy: 13px;
    --react-font-size-body: 14px;
    --react-font-size-subtitle: 16px;
    --react-font-size-header: 20px;
    --react-font-size-header-large: 24px;
    --react-font-size-header-xlarge: 32px;
    --react-font-weight-regular: 400;
    --react-font-weight-medium: 600;
    --react-font-weight-strong: 700;
    --react-divider-primary: #c4c7c8;
    --react-divider-secondary: #dde2e3;
    --react-divider-tertiary: #edf2f3;
    --react-inputs-focus: var(--react-divider-primary);
    --react-inputs-idle: var(--react-divider-secondary);
    --react-inputs-alert: #d1453b;
    --react-border-radius-small: 5px;
    --react-border-radius-large: 10px;
    --react-bg-default: #fff;
    --react-bg-brand: #246fe0;
    --react-bg-aside: #fafafa;
    --react-bg-highlight: #f2f2f2;
    --react-bg-selected: #e6e6e6;
    --react-bg-toast: #282828;
    --react-framework-fill-background: #fafafa;
    --react-framework-fill-crest: #e6e6e6;
    --react-framework-fill-selected: #ececec;
    --react-framework-fill-summit: #d6d6d6;
    --react-content-primary: rgba(0,0,0,.88);
    --react-content-secondary: rgba(0,0,0,.56);
    --react-content-tertiary: rgba(0,0,0,.4);
    --react-toast-content-primary: #fff;
    --react-toast-content-secondary: hsla(0,0%,100%,.56);
    --react-content-positive: #058527;
    --react-content-danger: #d1453b;
    --react-alert-tone-info-icon: #316fea;
    --react-alert-tone-info-border: #eee;
    --react-alert-tone-info-background: #fafafa;
    --react-alert-tone-positive-icon: #058527;
    --react-alert-tone-positive-border: #eee;
    --react-alert-tone-positive-background: #fafafa;
    --react-alert-tone-caution-icon: #eb8909;
    --react-alert-tone-caution-border: #eee;
    --react-alert-tone-caution-background: #fafafa;
    --react-alert-tone-critical-icon: #dc4c3e;
    --react-alert-tone-critical-border: #eee;
    --react-alert-tone-critical-background: #fafafa;
    --react-field-readonly-background: #f6f4f4;
    --react-toast-actionable-primary-tint: #39d1ef;
    --react-toast-actionable-secondary-tint: #b6c1c3;
    --react-toast-actionable-hover-fill: #506063;
    --react-toast-box-shadow: rgba(0,0,0,.19) 0px 10px 20px,rgba(0,0,0,.23) 0px 6px 6px;
    --react-stacking-order-modal: 1;
    --react-stacking-order-menu: 1;
    --react-stacking-order-toast: 400;
    --react-stacking-order-tooltip: 1000;
}

:root {
  --sidebar-toggle-transition-duration: 300ms;
  --sidebar-toggle-transition-function: cubic-bezier(0.4,0,0.2,1);
}

:root {
  --react-btn-idle-tint: #666;
  --react-btn-idle-fill: transparent;
  --react-border-radius-small: 5px;
  --react-font-family: -apple-system, system-ui, "Segoe UI", Roboto, Noto, Oxygen-Sans, Ubuntu, Cantrell, "Helvetica Neue",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  --react-font-weight-regular: 400;
  --react-font-weight-medium: 600;
  
}

:root {
  --react-actionable-quaternary-idle-tint: #666;
  --react-actionable-quaternary-hover-tint: #1a1a1a;
  --react-actionable-quaternary-hover-fill: #f2efed;
  --react-actionable-quaternary-disabled-tint: #b2b2b2;
}

:root {
  --actionable-secondary-idle-tint: #e1e1e1;
  --actionable-primary-idle-fill: #dc4c3e;
  --selectable-secondary-on-selected-tint: #a81f00;
}

:root {
  --react-btn-spacing: 12px;
  --react-spacing-xsmall: 4px;
  --progress-ring-inner-size: 26px;
  --main-view-header-height: calc(56px + 0px);

}

/* GENERAL LAYOUT STYLES */

#todolist_app {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.dvqSPB3 {
  background-color: var(--background-base-secondary);
  display: flex;
  height: 100%;
  overflow: hidden;
  width: 100%;
}

.app-sidebar-container {
  --react-actionable-quaternary-hover-fill: var(
    --selectable-secondary-hover-fill
);
  display: flex;
  position: relative;
  transition: margin-left var(--sidebar-toggle-transition-duration) var(--sidebar-toggle-transition-function);
}


.fb8d74bb { /* Referenced alot */
  background-color: initial;
  border: 0;
  font-family: inherit;
  font-size: var(--react-font-size-body);
  list-style: none;
  margin: 0;
  padding: 0;
  vertical-align: middle;
}

._14423c92 { /* Used alot */
  display: flex;
}

._5f8879d9 { /* Used alot */
  flex-direction: row;
}

.b76144ce { /* Used alot */
  align-items: center;
}

.b4e05554 { /* Used alot */
  justify-content: center;
}

.e4e217d4 { /* Used alot */
  position: relative;
}

._75ca308a { /* Used alot */
  height: 100%;
}

._1c09cd18 { /* Used alot */
  text-align: center;
}

._68aab614 { /* Used alot */
  overflow: hidden;
}

._1f362dec { /* Used alot */
  text-align: start;
}

._2d7320f2 { /* Used alot */
  flex-direction: column;
}

.b0e6eab4 { /* Used alot */
  padding-bottom: var(--react-spacing-xsmall);
}

.c4803194 { /* Used alot */
  padding-top: var(--react-spacing-xsmall);
}

.a03e39af { /* Used alot */
  padding-right: var(--react-spacing-medium);
}

._8c851bd6 { /* Used alot */
  padding-left: var(--react-spacing-medium);
}

.cad4e2ec { /* Used alot */
  padding-left: var(--react-spacing-xsmall);
}

._958da546 { /* Used alot */
  border-radius: var(--react-border-radius-small);
}

.c3b69d70 { /* Used alot */
  flex-grow: 1;
}

._794c8ab8 { /* Used alot */
  align-self: stretch;
}

._7d9ec5b0 { /* Used alot */
  flex-shrink: 0;
}

._2580a74b { /* Used alot */
  gap: var(--react-spacing-xsmall);
}

.cd4c8183 { /* Used alot */
  max-width: 100%;
}

._211eebc7 { /* Used alot */
  padding-right: var(--react-spacing-xsmall);
}

._8c75067a { /* Used alot */
  width: 100%;
}

._297575f4 {
  margin-right: var(--react-spacing-medium);
}

.a83bd4e0 {
  color: var(--content-primary);
  font-family: var(--react-font-family);
  font-size: var(--react-font-size-body);
  font-weight: var(--react-font-weight-regular);
}

._7be5c531 { /* Used alot */
  font-weight: var(--react-font-weight-medium);
}

._3930afa0 {
  --react-spinner-tint: var(--react-btn-idle-tint);
  --react-spinner-fill: var(--react-btn-idle-fill);
  font-size: var(--react-btn-font-size);
  height: var(--react-btn-height);
  line-height: var(--react-btn-height);
  padding: 0 var(--react-btn-spacing);
}

._3930afa0 {
  align-items: center;
  background-color: initial;
  border: 1px solid transparent;
  border-radius: var(--react-border-radius-small);
  color: inherit;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  font-family: var(--react-font-family);
  font-weight: var(--react-font-weight-medium);
  justify-content: center;
  max-width: 100%;
  text-decoration: none;
  transition-duration: .3s;
  transition-property: color,background-color;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
}


.aa19cb97 { /* Used alot */
  --react-btn-idle-tint: var(--react-actionable-quaternary-idle-tint);
  --react-btn-hover-tint: var(--react-actionable-quaternary-hover-tint);
  --react-btn-hover-fill: var(--react-actionable-quaternary-hover-fill);
  --react-btn-disabled-tint: var(--react-actionable-quaternary-disabled-tint);
}

a {
  color: var(--sidebar-display-primary-idle-tint);
}

.focus-marker-enabled-within .focus-marker, .focus-marker-enabled-within :focus, [data-whatinput=mouse] * {
  outline: none!important;
}

._650176bf, .aa19cb97 {
  --react-btn-idle-fill: transparent;
  --react-btn-disabled-fill: transparent;
}


.c4a9b3ab {
  margin-left: var(--react-spacing-medium);
}

._zbmK5I {
  height: 100vh !important;
  user-select: none !important;
  position: relative;
  width: 280px;
  max-width: 420px;
  min-width: 210px;
  flex-shrink: 0; /*important */
}

.sgZf_PQ {
  background-color: var(--background-base-secondary);
  color: var(--content-primary);
  display: flex;
  flex-direction: column;
  height: 100%;
}

.sidebar-name {
  margin-top: var(--react-spacing-medium);
  margin-right: var(--react-spacing-medium);
  margin-bottom: var(--react-spacing-medium);
  justify-content: space-between;
}

.ZmV8mtF {
  align-items: center;
  display: flex;
  margin-left: -3px;
}

.Eamj386 .GPdrRUk, 
.Eamj386 .ZmV8mtF, 
.Eamj386 button, 
.fGc18p7 {
  -webkit-app-region: no-drag;
}

.Eamj386 .GPdrRUk, 
.Eamj386 .ZmV8mtF, 
.Eamj386 .fGc18p7 {
  visibility: visible;
}

._3930afa0:not(.abd5766f) {
  min-width: 68px;
}

._3930afa0._7246d092 {
  --react-btn-height: var(--react-button-normal-height);
  --react-btn-spacing: var(--react-button-normal-spacing);
  --react-btn-font-size: var(--react-button-normal-font-size);
}

._3930afa0._1e29d236 {
  --react-btn-height: var(--react-button-small-height);
  --react-btn-spacing: var(--react-button-small-spacing);
  --react-btn-font-size: var(--react-button-small-font-size);
}

._3930afa0 ._380e7c73 {
  margin-left: -6px;
  margin-right: calc(var(--react-btn-spacing) - 6px);
}


._3930afa0 > * {
  pointer-events: none;
}

.profile-image-wrapper-2 {
  margin-right: var(--react-spacing-xsmall);
}

.profile-image-sizing {
  width: 26px;
  height: 26px;
}

.image-cover img, .image-cover svg, .image-cover > * {
  height: var(--progress-ring-inner-size)!important;
  transition: width .3s ease-out,height .3s ease-out;
  width: var(--progress-ring-inner-size)!important;
}

.v0tt6vv {
  display: flex;
  overflow: hidden;
}

.pv0tt6vv, .v0tt6vv img {
  border-radius: 50%;
}

.v0tt6vv img {
  display: block;
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.WxwHBcU {
  inset: 0;
  position: absolute;
  transform: rotate(-90deg);
}

.H03W4gG {
  display: block;
  background-color: #f48318;
  position: absolute;
  border: 1px solid var(--react-btn-hover-fill);
  bottom: -1px;
  height: 7px;
  right: 3px;
  width: 7px;
  border-radius: 50%;
}


.Pr7Ls4d .GaGIhAM, .Pr7Ls4d .pxu5JrR, .Pr7Ls4d .xPO8d1N {
  stroke: transparent;
}

.GaGIhAM {
  stroke: var(--actionable-secondary-idle-tint);
}

.pxu5JrR {
  stroke: var(--actionable-primary-idle-fill);
  transition: stroke-dashoffset .25s ease-out;
}

.xPO8d1N {
  stroke: var(--background-base-secondary);
}

._90654824 {
  font-size: inherit;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.profile-name {
  color: var(--content-primary);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.vZhNClH {
  color: var(--selectable-secondary-on-selected-tint)!important;
  font-size: var(--react-font-size-body);
  min-height: 34px;
  padding: 0 10px;
}

.vZhNClH svg {
  color: var(--actionable-primary-idle-fill);
}

:root {
  --sidebar-container-background-base-secondary: #fcfaf8; 
  --react-spacing-large: 16px;
  --react-spacing-xlarge: 24px;
  --react-bg-aside: #fcfaf8;
}

.fGc18p7 {
  background-color: var(--sidebar-container-background-base-secondary);
  flex-grow: 1;
  overflow: hidden;
}

._966b120f {
  gap: var(--react-spacing-large);
}

.WwLx9J2 { /* sidebar-projects-container */
  position: relative;
}

.afs9Aky {
  margin-left: calc(var(--react-spacing-xlarge) * -1);
  padding-left: var(--react-spacing-xlarge);
  position: sticky;
  top: 0;
  z-index: 2;
}

.b9ff0c93 {
  background-color: var(--react-bg-aside);
}

.afs9Aky a {
  text-decoration: none;
}

.MDvuw2K {
  outline-offset: -2px;
}

.c76cb3c7 {
  margin-left: calc(var(--react-spacing-xsmall) * -1);
}

.a329dbd3 {
  margin-bottom: calc(var(--react-spacing-xsmall) * -1);
}

.efe72b13 {
  margin-top: calc(var(--react-spacing-xsmall)*-1);
}

._3975b234 {
  align-items: baseline;
}

.WBkT27H .qMjaCbb, .nuMVpup:focus-within .qMjaCbb {
  color: var(--sidebar-display-primary-idle-tint);
}

._2f303ac3 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

body:not(.dnd_active) .WBkT27H, body:not(.dnd_active) .nuMVpup:focus-within:focus-visible {
  background: var(--sidebar-selectable-secondary-selected-fill);
}

.afs9Aky:focus .tv1Aq4a>button, 
.afs9Aky:hover .tv1Aq4a>button, 
.tv1Aq4a button[aria-expanded=true] {
  opacity: 1!important;
}

._3930afa0.abd5766f {
  height: var(--react-btn-height);
  width: var(--react-btn-height);
  padding: 0;
}

._3930afa0:not(._2b0b9d95) {
  background-color: var(--react-btn-idle-fill);
  color: var(--react-btn-idle-tint);
}

.f_iercM {
  height: auto;
  overflow: visible;
}

.i1w4cPS {
  height: 0;
  min-height: 0;
  transition-duration: 200ms; 
  height: auto;
  transition-property: height;
  transition-timing-function: cubic-bezier(.4,0,.2,1) 0ms;
}

.iOzqtkn2DmhusWHbByuqvw06Wg9NxHLO {
  margin: 0;
  padding: 0;
}

.sidebar-single-project-container {
  overflow-anchor: none
}

.pMTLzg8, .pMTLzg8 > li {
  position: relative;
}

ul.iOzqtkn2DmhusWHbByuqvw06Wg9NxHLO li {
  list-style: none;
}

.tBBBeoPXI6I_Dpvk7ytdgL_W8p4JvpKN { /* Used alot */
  --menu-button-width: 24px;
}

.CyYcjJUieBpMa9EpeaMCgT06VDxGmHUC { /* Used alot */
  padding-right: 2px;
}

.CyYcjJUieBpMa9EpeaMCgT06VDxGmHUC>a, .CyYcjJUieBpMa9EpeaMCgT06VDxGmHUC>button {
  overflow: hidden;
  padding: 5px;
}

.tBBBeoPXI6I_Dpvk7ytdgL_W8p4JvpKN a, .tBBBeoPXI6I_Dpvk7ytdgL_W8p4JvpKN button {
  align-items: center;
  border-radius: var(--react-border-radius-small);
  display: flex;
  flex: 1;
  -webkit-text-decoration: none;
  text-decoration: none;
}

.hRQZFMhX5N2W_D53QQAgHGqMJtAEbRXE {
  color: var(--react-actionable-quaternary-idle-tint);
}

.hRQZFMhX5N2W_D53QQAgHGqMJtAEbRXE {
  align-items: center;
  display: flex;
  height: var(--menu-button-width);
  justify-content: center;
  width: var(--menu-button-width);
}

.wMrhHaw path {
  color: inherit !important;
}

.X_3UwghUggmfmKrS8M8uwnLl4hgJenHE {
  word-wrap: anywhere;
  font-size: 14px;
  line-height: 16px;
  padding: 3px 0 3px 5px;
  word-break: break-all;
  word-break: break-word;
}

.tBBBeoPXI6I_Dpvk7ytdgL_W8p4JvpKN span.emoji {
  vertical-align: initial;
}

span.emoji {
  font-size: 14px;
  vertical-align: initial;
}

.tBBBeoPXI6I_Dpvk7ytdgL_W8p4JvpKN span.emoji span.emoji {
  vertical-align: initial;
}

@media screen and (--webkit-max-device-pixel-ration: 1) {
  [data-browser=chromium] .doist_format.emoji:not(.twemoji), 
  [data-browser=chromium] span.emoji span.emoji {
    margin-right: var(--react-spacing-xsmall);
  }
}

.tBBBeoPXI6I_Dpvk7ytdgL_W8p4JvpKN .EP7ipQruTpPwJ3nyxzazwA8YyWFx66IL, .tBBBeoPXI6I_Dpvk7ytdgL_W8p4JvpKN .xnw_02v_TFlb5GTlGHdEwkyJgpXYMGOD {
  align-items: center;
  display: flex;
  height: var(--menu-button-width);
  justify-content: center;
  width: var(--menu-button-width);
}

.tBBBeoPXI6I_Dpvk7ytdgL_W8p4JvpKN .bM5vX9WvLBn23yc2a6eSFwPNdl0ZbLIf {
  display: block;
  line-height: 24px;
  text-align: right;
}

.bM5vX9WvLBn23yc2a6eSFwPNdl0ZbLIf {
  color: #474747;
  display: inline-block;
  font-size: 12px;
}

.mAPx00Aeuvmc8iS93SrWQKHnuTGxytur {
  position: absolute;
}



._3930afa0:focus-visible:not([aria-disabled=true]), 
._3930afa0:hover:not([aria-disabled=true]), 
._3930afa0[aria-expanded=true] {
  background-color: var(--react-btn-hover-fill);
  color: var(--react-btn-hover-tint);
}

.name-and-pic button {
  cursor: initial;
}

.name-and-pic button:hover {
  background-color: initial !important;
  color: initial !important;
}

.X2tcy2WMdjDpEA2CxPxugIuTOQay5Q3I .CyYcjJUieBpMa9EpeaMCgT06VDxGmHUC, 
.sDuVXPLy3Xe42Gn76JcEoAxAMpCa5S3O .CyYcjJUieBpMa9EpeaMCgT06VDxGmHUC, 
body:not(.dnd_active) .tBBBeoPXI6I_Dpvk7ytdgL_W8p4JvpKN:not(.cVf9NoVB53Z5JhspzdCSDAHmL3qtdBiu) .CyYcjJUieBpMa9EpeaMCgT06VDxGmHUC:hover {
  background-color: var(--selectable-secondary-hover-fill);
}


/* MAIN CONTAINER */

.BQiNSs0, .BQiNSs0 > main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.BQiNSs0 {
  background-color: var(--background-base-primary);
  container-name: multi-select-container;
  container-type: inline-size;
  min-width: 0;
  position: relative;
}

#content {
  background-color: var(--background-base-primary);
  border-color: var(--background-base-primary);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 380px;
  outline: 0;
  overflow: hidden auto;
  transition: opacity .25s cubic-bezier(.4,0,.6,1);
}

.BQiNSs0 > main {
    height: 100%;
    outline: none;
    overflow-y: auto;
    scroll-padding: var(--main-view-header-height) 0 var(--react-spacing-xlarge);
}

.EsfK5SD {
  min-height: 100%;
}

._45a8f27f {
    flex-wrap: nowrap;
}

.ftK0KhN {
  height: 100%;
}

.l5H4jIN {
  min-width: 0;
}

.IQkC6u4 {
  display: contents;
}

.z9PJyaa {
  transition: opacity .5s ease-out;
}
 
.z9PJyaa.c0PV7ab > div {
    margin: 6px var(--editor-side-padding) 9px;
    max-width: var(--editor-max-width);
}

.c68f8bf6 {
  gap: var(--react-spacing-small);
}

.CDUIn7V {
  --react-font-size-header-large: 26px;
}

.CDUIn7V, .R2RbGWi {
  margin: -4px -4px -4px -5px;
  padding: 4px;
}

@supports (selector(:has(p))) {
  .aObLL0M {
      border: 1px solid transparent;
      border-radius: var(--react-border-radius-small);
      box-sizing: border-box;
      margin: -4px -4px -4px -5px;
      overflow: hidden;
      padding: 4px;
  }
}

:root {
  --react-content-primary: var(--product-library-display-primary-idle-tint);
  --react-font-weight-strong: 700;
  --editable-title-header-height: 35px;
  --react-content-secondary: #666;
  --react-bg-default: var(--product-library-background-base-primary);
}

.z9PJyaa h1 {
    color: var(--react-content-primary);
    font-family: var(--react-font-family);
    font-size: var(--react-font-size-header-large);
    font-weight: var(--react-font-weight-strong);
    line-height: var(--editable-title-header-height);
}

@supports (selector(:has(p))) {
  .aObLL0M h1, .aObLL0M h2, .aObLL0M h3 {
      border-width: 0;
      flex-grow: revert;
      margin: 0;
      padding: 0;
  }
}

.aObLL0M h1 {
    border: 1px solid transparent;
    border-radius: var(--react-border-radius-small);
    flex-grow: 1;
    margin: -4px -4px -4px -5px;
    padding: 4px;
}

.fQcyOsJ {
    margin-left: -3px;
    margin-top: 0;
    overflow: visible;
    padding-bottom: 3px;
    padding-left: 3px;
}

._6a3e5ade {
  color: var(--react-content-secondary);
}

._969f18f7 {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
}

.d3e04245 {
  -webkit-line-clamp: 2;
}

.b_zgYVi {
  z-index: 3;
}

._66895b64 {
  position: -webkit-sticky;
  position: sticky; 
}

.a9ca9830 {
  background-color: var(--react-bg-default);
}

.imKBXQv {
    background-color: var(--background-base-primary);
    position: sticky;
    top: var(--main-view-header-height,63px);
    will-change: transform;
    z-index: 2;
}

.imKBXQv, .rtqfsfx {
    padding-left: var(--editor-side-padding);
    padding-right: var(--editor-side-padding);
}

._4e9ab24b {
  padding-top: var(--react-spacing-small);
}

.d5ff04da {
  font-family: var(--react-font-family);
}

.c8f65b3b:not(._5252fd3d) {
    --react-input-wrapper-height: 32px;
    border: 1px solid var(--react-inputs-idle);
    border-radius: var(--react-border-radius-small);
    overflow: clip;
}

.c8f65b3b:not(._5252fd3d):focus-within {
    border-color: var(--react-inputs-focus);
}

.c8f65b3b {
    cursor: text;
    height: var(--react-input-wrapper-height);
}

.b79b851f {
  align-items: center;
}

.f9be90b4 {
    margin-left: var(--react-spacing-xsmall);
}

._8e9bf2ee {
    margin-right: calc(var(--react-spacing-xsmall) * -1);
}

.YpCE0c6 {
    color: var(--product-library-display-secondary-idle-tint);
}

.c8f65b3b:not(._5252fd3d) input {
    padding: var(--tmp-vertical-padding) var(--react-spacing-small);
}

.c8f65b3b input {
    --tmp-desired-height: 30px;
    --tmp-line-height-increase: 4px;
    --tmp-vertical-padding: calc((var(--tmp-desired-height) - var(--react-font-size-body) - var(--tmp-line-height-increase))/2);
    background: transparent;
    border: none;
    box-sizing: border-box;
    color: var(--react-content-primary);
    flex: 1;
    font-size: var(--react-font-size-body);
    line-height: calc(var(--react-font-size-body) + 4px);
    margin: 0;
    outline: none;
    width: 100%;
}

.imKBXQv > *, .rtqfsfx > * {
    margin: 0 auto;
    max-width: var(--editor-max-width);
    width: 100%;
}

.d3229ba4 {
  padding-top: var(--react-spacing-xlarge);
}

.uWruwq5 {
    border-bottom: 1px solid var(--product-library-divider-secondary);
    margin-top: var(--react-spacing-medium);
}

.eae3d34f, .eae3d34f>:last-child {
  --react-columns-gap: 0px;
}

.a65d9c55 {
  justify-content: flex-start
}

.jWS3EWy {
  align-items: center;
  display: flex;
  height: var(--react-button-normal-height);
}

._9dd31975 {
  flex-basis: auto;
}

._68ab48ca {
  min-width: 0;
}

._1d226e27 {
    padding-top: var(--react-spacing-medium);
}

.rtqfsfx * {
    scroll-margin-top: calc(var(--main-view-header-height) + var(--react-spacing-xsmall));
}

._79077c62 {
  border-radius: var(--react-border-radius-large);
}

@media (max-width: 992px) {
  .HS1QVid {
      min-width: 175px;
  }
}

.HS1QVid {
  text-decoration: none;
}

.d7af60c9 {
  padding-bottom: var(--react-spacing-medium);
}

.b85e3dfa {
  margin-right: var(--react-spacing-small);
}

@media (max-width: 992px) {
  .QW_j_t2 {
    max-width: 250px;
  }
}

.QW_j_t2 {
    flex-wrap: "nowrap";
    max-width: 400px;
}

._202b0c8c {
    flex-wrap: wrap;
}

span.emoji {
    font-size: 14px;
    vertical-align: initial;
}

@media (max-width: 992px) {
  .uIBysUu {
    margin-left: var(--react-spacing-medium);
 }
}

.uIBysUu {
    margin-left: var(--react-spacing-xlarge);
    margin-right: 5px;
    max-width: 24px;
    min-width: 24px;
}

body:not(.dnd_active) .IIqv46p:focus-within, body:not(.dnd_active) .IIqv46p:hover {
    background: var(--product-library-actionable-quaternary-hover-fill);
}

.IIqv46p:hover:not(:focus-visible):after {
    bottom: -1px;
    top: auto;
}

.IIqv46p:hover:not(:focus-visible):after, .IIqv46p:hover:not(:focus-visible):before {
    background: var(--product-library-background-base-primary);
    content: "";
    display: block;
    height: 1px;
    left: 0;
    position: absolute;
    top: -1px;
    width: 100%;
}